<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.map.dao.IDbInfoDao">
    <!--存储收货地址数据-->
    <insert id="setDbInfo" parameterType="dbinfo">
        INSERT INTO dbinfo (dbaffairs,dbaddress,dbtime) VALUES (#{dbaffairs},#{dbaddress},#{dbtime})
    </insert>

    <insert id="setOrderInfo" parameterType="orderinfo">
        INSERT INTO orderinfo (type,title,state) VALUES (#{type},#{title},#{state})
    </insert>
    <select id="findByType" resultType="orderinfo">select * from orderinfo where type =#{type}</select>

<!--    <select id="findByIdDbaffairs" resultType="dbinfo">-->
<!--        select dbaffairs from dbinfo where id =#{id}-->
<!--    </select>-->
</mapper>