<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.map.dao.IOrderInfoDao">
    <!--存储收货地址数据-->
    <insert id="setOrderInfo" parameterType="orderinfo">
        INSERT INTO orderinfo (dbaffairs,dbaddress,dbtime) VALUES (#{dbaffairs},#{dbaddress},#{dbtime})
    </insert>
</mapper>